
.form-popup {
  display: none;
  position: fixed;
  margin-left: 20vw;
  margin-top: 8vh;
}

.form-container {
  width: 55vw;
  height: 65vh;
  border-radius: 35px;
  padding: 5rem;
  background-color: var(--green);
  border: none;  
}

.form-container input[type=text], .form-container input[type=password] {
  padding: 15px;
  height: 3.125rem;
  border-radius: 15px;
  font-size: 0.8rem !important;
  font: 1.125rem Nunito, sans-serif;
  width: 250px;
  margin: 5px 0 22px 0;
  border: none;
  background: var(--white);
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color:#ede6e6;
  outline: none;
}

.form-container label{
  margin-right: 1vw;
}

.form-container h1{
  margin-top: 15px;
}

.form-container .email{
  margin-left: 11vw;
}

.form-container .pass{
  margin-left: 8vw;
}

.form-container button{
  margin-left: 20vw;
}


